.profile-container {
  padding: 30px;
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 25px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.profile-card h2 {
  color: #4a90e2;
  margin-bottom: 20px;
  font-size: 1.25rem; /* Tăng kích thước chữ tiêu đề */
  font-weight: 600; /* Làm cho tiêu đề đậm hơn */
}

.student-list {
  list-style-type: none;
  padding: 0;
}

.student-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #e1e5eb;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;  /* Thêm hiệu ứng đổ bóng nhẹ */
}

.student-avatar {
  border-radius: 50%;
  width: 60px; /* Kích thước ảnh đại diện */
  height: 60px; /* Kích thước ảnh đại diện */
  object-fit: cover;
  margin-right: 20px; /* Khoảng cách giữa ảnh và thông tin */
}

.student-info {
  font-size: 0.9rem; /* Kích thước chữ thông tin sinh viên */
  color: #333; /* Màu chữ tối để dễ đọc */
}

.common-links {
  margin-top: 40px;
  width: 90%;
  max-width: 500px;
}

.github-section, .pdf-section {
  margin-top: 25px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.github-section h2, .pdf-section h2 {
  color: #4a90e2;
  margin-bottom: 20px;
  font-size: 1.25rem; /* Tăng kích thước chữ tiêu đề liên kết */
  font-weight: 600; /* Làm cho tiêu đề đậm hơn */
}

.github-section a, .pdf-section a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem; /* Kích thước chữ liên kết */
}

.github-section a:hover, .pdf-section a:hover {
  text-decoration: underline;
}